body {
  background-color: slategray;
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
}

h1, h2 {
   font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

.h1 {
  font-size: 3rem;
}

.subheader {
  font-weight: normal;
  font-size: 1.5rem;
}

.bingo-field {
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: 70vw;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

.bingo-row {
  display: flex;
  flex-grow: 1;
}

.bingo-cell {
  background-color: lightseagreen;
  width: 100%;
  border: 1px solid white;
  padding: 2%;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  cursor: pointer
}

.bingo-cell.bingod {
  background-color: hotpink;
}


.footer {
  padding: 5% 0;
  font-size: 0.75rem;
}
